@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    string username = HttpContextAccessor.HttpContext.Session.GetString("Username") ?? null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BTLNhapMonCNPM.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand text-primary" href="/">Hồng Vân <sup class="text-secondary">GPP</sup></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link" href="#">Trang chủ</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Product">Sản phẩm</a></li>
                    </ul>

                    <div class="container mt-0" style="width:35%; margin-right:5px">
                        <div class="search-container">
                            <input type="text" id="searchInput" class="form-control" placeholder="Nhập tên thuốc, mã hoặc nhà cung cấp..." autocomplete="off">
                            <div class="search-results" id="searchResults"></div>
                        </div>
                    </div>
                    @if(username == null)
                    {
                        <ul class="navbar-nav ms-3">
                            <li class="nav-item"><a class="nav-link" href="/signin">Đăng nhập</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Register">Đăng ký</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav ms-3">
                            <li class="nav-item" style="margin-block : auto">Xin chào @username</li>
                            <li class="nav-item"><a class="nav-link" href="/signout">Đăng xuất</a></li>
                        </ul>
                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - BTLNhapMonCNPM - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
