@{
    ViewData["Title"] = "Trang chủ";
}

<div class="text-center">
    <h1 class="display-4">Cook</h1>
    <p>Chào mừng thầy Lê Hữu Dũng đến với tiệm thuốc Hồng Vân</p>
</div>
<!-- Nút chuyển sang trang Xóa sản phẩm -->
<a asp-controller="SanPham" asp-action="XoaSanPham" class="btn btn-danger">Xóa sản phẩm</a>
