@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<!-- Nút chuyển sang trang Xóa sản phẩm -->
<a asp-controller="SanPham" asp-action="XoaSanPham" class="btn btn-danger">Xóa sản phẩm</a>
