@model BTLNhapMonCNPM.Models.TblKhachHang

@{
    ViewData["Title"] = "Đăng ký";
}

<div class="container">
    <div class="text-center">
        <h1 class="well">Đăng ký</h1>   
    </div>
    
    <div class="col-lg-12 well">
        <div class="row">
            <form asp-action="RegisterForm" asp-controller="Home">
                <div class="col-sm-6 form-group">
                    <label>Họ và tên:</label>
                    <input class="form-control" type="text" asp-for="SHoTen" />
                </div>
                <div class="col-sm-6 form-group">
                    <label>Tên Đăng nhập:</label>
                    <input class="form-control" type="text" asp-for="STenDangNhap" />
                </div>
                <div class="col-sm-6 form-group">
                    <label>Mật khẩu:</label>
                    <input class="form-control" type="password" asp-for="SMatKhau" />
                </div>
                <div class="col-sm-6 form-group">
                    <label>Nhập lại mật khẩu:</label>
                    <input class="form-control" type="password" />
                </div>
                <div class="col-sm-6 form-group">
                    <label>Email:</label>
                    <input class="form-control" type="text" asp-for="SEmail" />
                </div>
                <div class="col-sm-6 form-group">
                    <label>Số điện thoại:</label>
                    <input class="form-control" type="text" asp-for="SSdt" />
                </div> <br><br>
                <button type="submit" class="btn btn-lg btn-info">Đăng ký</button>
            </form>
        </div>
    </div>
</div>