
@{
    ViewData["Title"] = "Admin nhé";
}

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    string username = HttpContextAccessor.HttpContext.Session.GetString("UsernameAdmin") ?? null;
}
<h1>Xin chào @username</h1>

